/*TEXT COLORS*/
$text-main-color: #868782;

/*BACKGROUND COLORS*/
$light-brown: #fff2dd;
$medium-grey: #86857d;
$white: #ffff;

/*COLORS*/
$text-heading-color: #333d3c;
$text-articles-paragraph-color: #455251;
$text-heading5-color: #586967;
$text-numbers: #868782;
/*COLORS WITH OPACITY*/
$dark-opacity: #333d3c44;

/*TEXT PROPERTIES*/
$base-text-size: 0.875em;
$base-line-height: 1.75px;

/*TEXT FONT*/
$font-base: 'sofia-pro', 'sans-serif';
$font-headline: 'ff-good-headline-web-pro-ext', 'sans-serif';

/*BUTTON BACKGROUND COLOR*/
$button-grey : #bab8ac;
$button-blue : #cbf2f0;

/*BUTTON HOVER BACKGROUND*/
$botton-hover-rose: #ffc79abc;