.about {
  padding: 100px 220px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 80px;
  color: $text-main-color;
  position: relative;
  .about__logo-rise {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    background-image: url('assets/images/logo-white-big.png');
    background-repeat: no-repeat;
    height: 137px;
    width: 250px;
  }

  .number {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    justify-self: center;
    font-family: $font-headline;
    padding: 10px;
    @include uppercase-bolder(800);
    @include basic-text(1.125em, null, 1.8px);
  }

  .about__logo-info {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
    padding: 10px 30px 10px 20px;

    p {
      @include basic-text(0.875em, 20px, 1px);
      font-family: $font-base;
    }
  }

  .about__logo-sansara {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
    background-image: url('assets/images/logo-sansara.png');
    background-repeat: no-repeat;
    height: 137px;
    width: 266px;
  }

  .about__logo-sansara-info {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    padding: 10px 30px 10px 20px;

    p {
      @include basic-text(0.875em, 20px, 1px);
      font-family: $font-base;
      margin-bottom: 30px;
    }

    .about__logo-sansara-info__crew {
      display: flex;
      align-content: center;
      justify-content: space-between;

      h5 {
        font-family: $font-headline;
        @include basic-text(1em, null, 1.6px);
        @include uppercase-bolder(800);
        align-self: center;
      }

      h4 {
        font-family: $font-headline;
        justify-self: flex-end;
        text-align: right;
        color: black;
        @include basic-text(1.5em, null, 2.4px);
        @include uppercase-bolder(800);
      }

      button {
        @include button($text-main-color, $white);
        font-size: 24px;
        padding: 0 5px;

        &:hover {
          @include hover-button;
        }
      }
    }
  }
  .about-fore-ball-silver-1 {
    background-image: url('assets/images/about-fore-ball-1.png');
    height: 20px;
    width: 20px;
    @include back-balls;
    top: 10%;
    left: 12%;
  }
  .about-fore-ball-silver-2 {
    background-image: url('assets/images/about-fore-ball-2.png');
    height: 61px;
    width: 61px;
    @include back-balls;
    top: 40%;
    left: 10%;
  }
  .about-fore-ball-silver-3 {
    background-image: url('assets/images/about-fore-ball-3.png');
    height: 20px;
    width: 20px;
    @include back-balls;
    top: 50%;
    left: 50%;
  }

}