@import '../modules/variables';
@import '../modules/mixins&extend';

footer {
  @include bg-c($white, $text-heading-color);
  @include basic-text(1.5em, null, 1.8px);
  @include uppercase-bolder(400);
  padding: 35px;
  margin-top: 100px;
  font-family: $font-headline;
  position: relative;
  width: 100;

  .open-box {
    background-image: url('assets/images/open-box.png');
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    width: 100%;
    height: 600px;
    z-index: -2;
    @include absolute;
    top: -335%;
  }

  .footer__container {
    height: 100%;
    @include flex(row, space-between, null);
    align-items: center;

    .footer__container__element {
      height: 100%;
      @include flex(row, space-between, null);
      align-items: center;

      .footer__container__element__icons {
        li {
          display: inline;

          a {
            @include basic-transition;

            &:hover {
              @include hover-icon;
            }
          }
        }

        li:first-child {
          margin-left: 60px;
        }

        li:last-child {
          margin-left: 14px;
        }
      }
    }

    .footer__container__element-list-nav {
      height: 100%;

      ul {
        height: 100%;
        @include flex(row, space-between, center);
        align-items: center;

        li {
          text-align: center;
          padding: 0 30px;
          @include basic-transition;

          &:hover {
            @include hover-links;
          }

          a {
            height: 100%;
            width: 100%;
            ;
            color: $text-heading-color;

          }
        }
      }
    }
  }

  .footer__ball-1 {
    height: 87px;
    width: 101px;
    background-image: url('assets/images/footer-ball-1.png');
    @include absolute;
    top: -45%;
    right: 30%;
  }
}